html{ scroll-behavior: smooth; }

body { background: #bfb99d; }

h1 { margin-top: 150px; font-family: gabriola; font-size: 96px; }

a{text-decoration: none; color: inherit;}

#top, #chapter1, #chapter2, #chapter3, #chapter4, #chapter5, #chapter6, #chapter7 {
    padding-top: 85px;
    margin-top: -85px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.vstuplenie {
    background: #1d1f21;
    color: #faf0e6;
    display: none;
    position: fixed;
    height: 380px;
    width: 60%;
    border: solid;
    margin-left: 20%;
    margin-top: 10%;
}

.topside {
    top: 8px;
    margin-left: 15%;
    width: 70%;
    height: 80px;
    position: sticky;
    margin-top: 5px;
    background-color: #1d1f21;
    color: #faf0e6;
}

.clicker {
    margin-top: 8px;
    text-align: center;
    color: #e8e1db; /* Öâåò îáû÷íîé ññûëêè */
    background: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Óáèðàåì ïîä÷åðêèâàíèå */
    border: none;
    font-size: 20px;
}

    .clicker:after {
        content: "";
        display: block;
        position: absolute;
        right: 25%;
        bottom: -3px;
        width: 0;
        height: 2px; /* Âûñîòà ëèíèè */
        background-color: black; /* Öâåò ïîä÷åðêèâàíèÿ ïðè èñ÷åçàíèè ëèíèè*/
        transition: width 0.5s; /* Âðåìÿ ýôôåêòà */
    }

    .clicker:hover:after {
        content: "";
        width: 50%;
        display: block;
        position: absolute;
        left: 25%;
        bottom: -3px;
        height: 2px; /* Âûñîòà ëèíèè */
        background-color: #e0e0e0; /* Öâåò ïîä÷åðêèâàíèÿ ïðè ïîÿâëåíèè ëèíèè*/
        transition: width 0.5s; /* Âðåìÿ ýôôåêòà */
    }

details {
    width: 150px;
    margin-left: 10px;
    user-select: none;
    margin-top: 11px;
}
    details[open] summary:before {content: "";}

summary {
    background-color: inherit;
    color: #e8e1db;
    border: none;
    cursor: pointer;
    list-style: none;
    font-size: 20px;
    position: relative;
}
    summary:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 2px; /* Âûñîòà ëèíèè */
        background-color: black; /* Öâåò ïîä÷åðêèâàíèÿ ïðè èñ÷åçàíèè ëèíèè*/
        transition: width 0.5s; /* Âðåìÿ ýôôåêòà */
    }
    summary:hover:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px; /* Âûñîòà ëèíèè */
        background-color: #e8e1db; /* Öâåò ïîä÷åðêèâàíèÿ ïðè ïîÿâëåíèè ëèíèè*/
        transition: width 0.5s; /* Âðåìÿ ýôôåêòà */
    }

    summary:before {
        content: "";
        font-size: 20px;
        font-weight: bold;
        margin: -5px 5px 0 0;
    }


.spisok {
    margin-top: 20px;
    background: #1d1f21;
    height: 100px;
    width: inherit;
    overflow-y: auto;
    scrollbar-width: auto;
    border: solid thin;
    border-color: #1d1f21;
    color: #faf0e6;
}
    .spisok::-webkit-scrollbar { width: 10px; /* Øèðèíà âñåãî ýëåìåíòà íàâèãàöèè */ }
    .spisok::-webkit-scrollbar-track { background: inherit; /* Öâåò äîðîæêè */ }
    .spisok::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 20px;
    }

.header { magin-top: 150px; border: none; height: 600px;}

.chapter {
    margin-top: 10px;
    margin-left: 5%;
    background-color: none;
    color: #1d1f21;
    border-radius: 5px;
    text-align: center;
}

.picture {
    margin-top: 0px;
    margin-left: 20px;
    width: 100%;
    border: none;
    text-align: center;
}

.info {
    text-align: center;
    border: none;
    margin-top: 25px;
    height: 150px;
    width: 75%;
    margin-left: 12.5%;
}

.text {
    font-size: 19px;
    font-family: sans-serif;
    text-align: left;
    margin-left: 10px;
}
